.logo-fb-m{
    margin-top: 20px;
    position: absolute;
    left: 20px;
    height: 40px;
    width: 40px;
}
.int-fb-m{
    margin-top: 20px;
    position: absolute;
    left: 80px;
    height: 40px;
    width: 40px;
}
.Mathrukam{
    margin-bottom: 80px;
}