.logo-fb{
    position: fixed;
    top: 180px;
    right: 20px;
    height: 40px;
    width: 40px;
    z-index: 1;
}
.wh-fb{
    position: fixed;
    top: 235px;
    right: 20px;
    height: 40px;
    width: 40px;
    z-index: 1;
}
.logo-inst{
    position: fixed;
    top: 235px;
    left: 20px;
    height: 40px;
    width: 40px;
    z-index: 1;
}