
.oldimagtitleC h1 {
    text-align: center;
    font-family: 'Lora', serif;
    color: whitesmoke;
    font-size: medium;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(66, 65, 65);
   
    
  }
  .oldimag1C {
    width: 100%;
    height: 400px;
    position : absolute;
    background-image:  url('./img/MES-Kalladi-College-Mannarkkad\ NCC.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .oldimag2C {
    width: 100%;
    height: 400px;
    position : absolute;
    background-image:  url('./img/library-1\ kc.png') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .oldimag3C {
    width: 100%;
    height: 400px;
    position : absolute;
    background-image:  url('./img/clg-1.png') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .oldimag4C {
    width: 100%;
    top: 45px;
    position : absolute;
    background-image:  url('./img/MES-kalladi-college\ Commerce.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .oldimag1C {
    animation: slide11 7s linear infinite;
  }
  .oldimag2C {
    animation: slide22 7s linear infinite;
  }
  .oldimag3C {
    animation: slide33 7s linear infinite;
  }
  .oldimag4C {
    animation: slide44 7s linear infinite;
  }
  @keyframes slide11 {
    0%{
      visibility: visible;
    }
    25%{
      visibility: hidden;
    }
    50%{
      visibility: hidden;
    }
    75%{
      visibility: hidden;
    }
    100%{
      visibility: hidden;
    }
  }
  @keyframes slide22 {
    0%{
      visibility: hidden;
    }
    25%{
      visibility: hidden;
    }
    50%{
      visibility: visible;
    }
    75%{
      visibility: hidden;
    }
    100%{
      visibility: hidden;
    }
  }
  @keyframes slide33 {
    0%{
      visibility: hidden;
    }
    25%{
      visibility: hidden;
    }
    50%{
      visibility: hidden;
    }
    75%{
      visibility: visible;
    }
    100%{
      visibility: hidden;
    }
  }
  @keyframes slide44 {
    0%{
      visibility: hidden;
    }
    25%{
      visibility: hidden;
    }
    50%{
      visibility: hidden;
    }
    75%{
      visibility: hidden;
    }
    100%{
      visibility: visible;
    }
  }
  .fade-bottom{
    height: 25rem;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,.61),#111);
   
}

  