.sfi_1 {
    margin-top: 50px;
    height: 400px;
    width: 90%;
    margin-left: 20px;
    background-color: #fff;
}

.sfi_ {
    margin-top: 50px;
    margin-bottom: 30px;
    height: 300px;
    width: 400px;
    margin-left: 20px;

}


@media (min-width: 791px) and (max-width: 840px) {
    .sfi_ {
        height: 250px;
        width: 350px;
    }
}
@media (min-width: 588px) and (max-width: 791px) {
    .sfi_ {
        height: 300px;
        width: 90%;
    }
}
@media (min-width: 498px) and (max-width: 588px) {
    .sfi_ {
        height: 250px;
        width: 90%;
    }
}
@media (min-width: 350px) and (max-width: 498px) {
    .sfi_ {
        height: 200px;
        width: 90%;
    }
}
@media (min-width: 150px) and (max-width: 350px) {
    .sfi_ {
        height: 150px;
        width: 90%;
    }
}