.Banner {
  height: 460px;
  width: 100%;
}
.oldimagtitle h1 {
    position: relative;
    top: 75px;
    margin-left: 20px;
    font-family: 'Lora', serif;
    color: rgba(255, 4, 4, 0.527);
    text-shadow: 1px 1px 1px rgb(250, 246, 246);
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bolder;
    z-index: 2;
   
    
  }
 
  .oldimag1 {
    width: 100%;
    position:absolute;
    top: 0px;
    background-image:  url('img/sfi_mes_kc_1.png') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .title {
    width: 700px;
    position: absolute;
    top: 10px;
    left: 100px;
    font-family: 'Lora', serif;
    font-size: medium;
    text-transform: uppercase;
    font-weight: bold;
    background: whitesmoke;
    text-transform: uppercase;
    opacity: .8;
  }
  .title span{
    font-weight: bold;
    font-size: medium;
    margin: 10px;
    color: black;
  }
  .title p{
    font-weight: normal;
    font-size: small;
    margin: 10px;
    color: black;
  }
  .oldimag2 {
    width: 100%;
    height: 400px;
    position:absolute;
     top: 0px;
    background-image:  url('img/sfi_mes_kc_2.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .oldimag3 {
    width: 100%;
    height: 400px;
    position:absolute;
    top: 0px;
    background-image:  url('img/mathrukampatt.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .oldimag4 {
    width: 100%;
    height: 400px;
    position:absolute;
    top: 0px;
    background-image:  url('img/web.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .oldimag1 {
    animation: slide1 5s linear infinite;
  }
  .oldimag2 {
    animation: slide2 5s linear infinite;
  }
  .oldimag3 {
    animation: slide3 5s linear infinite;
  }
  .oldimag4 {
    animation: slide4 5s linear infinite;
  }
  @keyframes slide1 {
    0%{
      visibility: visible;
    }
    25%{
      visibility: hidden;
    }
    50%{
      visibility: hidden;
    }
    75%{
      visibility: hidden;
    }
    100%{
      visibility: visible;
    }
  }
  @keyframes slide2 {
    0%{
      visibility: hidden;
    }
    25%{
      visibility: hidden;
    }
    50%{
      visibility: visible;
    }
    75%{
      visibility: hidden;
    }
    100%{
      visibility: hidden;
    }
  }
  @keyframes slide3 {
    0%{
      visibility: hidden;
    }
    25%{
      visibility: hidden;
    }
    50%{
      visibility: hidden;
    }
    75%{
      visibility: visible;
    }
    100%{
      visibility: hidden;
    }
  }
  @keyframes slide4 {
    0%{
      visibility: hidden;
    }
    25%{
      visibility: hidden;
    }
    50%{
      visibility: hidden;
    }
    75%{
      visibility: hidden;
    }
    100%{
      visibility: visible;
    }
  }
  .fade-bottom{
    height: 25rem;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,.61),#111);
   
}
.fade-top{
    height: 10.1rem;
    background-image: linear-gradient(360deg,transparent,rgba(226, 222, 222, 0.61),rgb(255, 255, 255));
   
}

@media (min-width: 992px) and (max-width: 1199px) {
   .oldimagtitle h1 {
     font-size: 60px;
     z-index: 2 ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {

    .title {
          width: 400px;
          position: absolute;
          top: 10px;
          left: 70px;
          color: white;
          text-transform: uppercase;
    }
    .oldimagtitle h1 {
     font-size: 35px;
     z-index: 2 ;
  }
}

@media (min-width: 479px) and (max-width: 768px) {
     .title {
        width: 300px;
        font-weight: 25px;
        position: absolute;
        top: 10px;
        left: 70px;
        color: white;
        text-transform: uppercase;
     }
     .oldimagtitle h1 {
        font-size: 30px;
    
      }
      
}
@media (min-width: 400px) and (max-width:479px) {
    .title {
        width: 200px;
        font-weight: 25px;
        position: absolute;
        top: 10px;
        left: 20px;
        color: white;
        text-transform: uppercase;
     }
     .oldimagtitle h1 {
        font-size: 25px;
    
      }
}
@media (min-width:300px) and (max-width:400px) {
    .title {
        width: 200px;
        font-weight: 25px;
        position: absolute;
        top: 10px;
        left: 20px;
        color: white;
        text-transform: uppercase;
     }
     .oldimagtitle h1 {
      color: rgba(255, 4, 4, 0.726);
      font-size: 18px;
     }
}
@media (min-width: 20px) and (max-width:300px) {
    .title {
        width: 150px;
        font-weight: 25px;
        position: absolute;
        top: 20px;
        left: 20px;
        color: white;
        text-transform: uppercase;
     }
     .oldimagtitle h1 {
      color: rgba(255, 4, 4, 0.726);
      font-size: 20px;
     }
}