hr{
    margin-top: 10px;
}
.Footer{
    width: 100%;
    height: 600px;
    background-image: url("https://jaseem1999.github.io/mathrukam_committee/kclogo2.png");
    background-size: cover;
    background-position: center;
}
.innerFooter{
   width: 100%;
   height: 600px;
   color: #111;
}


.thank{
    width: 100%;
    height: 300px;
}
.text{ 
    
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    color: #fff;
    font-family: 'Lora', serif;
    font-size: 20px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgb(246, 29, 29);
}
.text p{ 
    margin-top: 500px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    color: #fff;
    font-family: 'Lora', serif;
    font-size: 37px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgb(246, 29, 29);
} 

@media (min-width:572px) and (max-width:900px) {
    .text{
        font-size: 1em;
    }
    .text p{
        margin-top: 320px;
        font-size: 25px;
    }
    .Footer,.innerFooter{
        height: 400px;
    }
}

@media (min-width:370px) and (max-width: 572px) {
    .text{
        font-size: 1em;
    }
    .text p{
        margin-top: 230px;
        font-size: 20px;
    } 
   .Footer,.innerFooter,.thank{
       height: 300px;
   }
   .innerFooter:hover{
       height: 300px;
   }
}
@media (max-width: 370px){
   .text p{
       margin-top: 135px;
       font-size: medium;
   }  
   .Footer,.innerFooter,.thank{
       height: 200px;
   }
   .innerFooter:hover{
       height: 200px;
   }
   .text{
        font-size: medium;
    }
}

