*{
    color: #fff;
}
.Row{
    margin-left: 20px;
    color: #fff;
}
.Magazin{
    display : flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.Magazin::-webkit-scrollbar{
    display: none;
}
.posterM{
    max-height: 200px;
    margin-right: 10px;

}
.posterM:hover{
     transform: scale(1.2);
}
.name span {
    margin-left: 20px;
}